.flex {
  display: flex;
}
.search-form {
  padding: 20px;
}
.search-form form {
  display: flex;
  font-size: 2em;
  justify-content: space-evenly;
}
.search-form form .form-group {
  flex: 1;
}
.search-form form .form-group .form-control {
  width: 100%;
  padding: 10px;
  -webkit-appearance: none;
  border: 0px;
  border-radius: 5px;
  outline: none;
}
.search-form form button {
  padding: 10px;
  border: 0px;
  outline: none;
}
