#app.dark header {
  background: #343a40;
  color: #fff;
}
#app.dark header a {
  color: #e6e6e6;
}
#app.dark .news-list {
  transition: 0.25s background ease-in-out;
  background: #343a40;
}
#app.light header {
  background: #fff;
  color: #333;
}
#app.light a {
  color: #333;
}
