#app {
    &.dark {
        header {
            background: #343a40;
            color: #fff;

            a {
                color: rgb(230, 230, 230);
            }
        }

        .news-list {
            transition: .25s background ease-in-out;
            background: #343a40;
        }
    }

    &.light {
        header {
            background: #fff;
            color: #333;
        }

        a {
            color: #333
        }
    }
}