<template>
    <div class="bookmarks">
        <h1>Bookmarks Page</h1>
        <BookmarkList />
    </div>
</template>

<script>
import BookmarkList from '@/components/BookmarkList'
import '@/styles/views/Bookmarks.css'

export default {
    components: {
        BookmarkList
    }
}
</script>

<style>

</style>