<template>
  <div class="home">
    <SearchForm />
    <NewsList />
    <Loader />
  </div>
</template>

<script>
import Loader from '@/components/Loader'
import NewsList from '@/components/NewsList'
import SearchForm from '@/components/NewsSearchForm'
import '@/styles/views/Home.css'

export default {
  name: 'home',
  components: {
    Loader,
    NewsList,
    SearchForm
  }
}
</script>
