<template>
    <ul>
        <BookmarkListItem 
            v-for="bookmark in getBookmarks" 
            :key="bookmark.id" 
            :bookmark="bookmark"/>
    </ul>
</template>

<script>
import BookmarkListItem from '@/components/BookmarkListItem'
import { mapGetters } from 'vuex'

export default {
    name: 'BookmarkList',
    components: {
        BookmarkListItem
    },
    computed: {
        ...mapGetters([
            'getBookmarks'
        ])
    }
}
</script>

<style scoped>
    li img{
        width: 100%
    }
</style>