<template>
  <li>
      <img :src="bookmark.urlToImage || 'https://via.placeholder.com/240?text=No+Image+Available'" alt="" />
      <h4>{{bookmark.title}}</h4>
      <p>{{bookmark.source.name}}</p>
      <p>{{bookmark.author}}</p>
      <p>{{bookmark.content | clipText}}</p>
      <div>
          <a :href="bookmark.url">Go to page</a>
          <button @click="removeBookmark(bookmark)">Remove Bookmark</button>
      </div>
      <p>{{bookmark.publishedAt}}</p>
  </li>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    name: 'BookmarkListItem',
    props: {
        bookmark: Object
    },
    filters: {
        clipText(text) {
            if (!text) return ''
            return text.substring(0,150) + '...'
        }
    },
    methods: {
        ...mapActions([
            'removeBookmark'
        ])
    }
}
</script>

<style scoped>
    li img{
        width: 100%
    }
</style>