<template>
  <p v-show="isLoading">Loading...</p>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Loader',
  computed: {
    ...mapState([
      'isLoading'
    ])
  },
}
</script>

<style>

</style>