<template>
    <div class="news-list">
        <div class="container">
            <ul v-show="getNews"> 
                <NewsItem 
                    v-for="news in getNews" 
                    :key="news.id" 
                    :news="news"/>
            </ul>
            <button 
                v-show="canFetchNews"
                @click="loadMoreNews">Load More News</button>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapState} from 'vuex'
import NewsItem from '@/components/NewsListItem'

export default {
    name: 'NewsList',
    components: {
        NewsItem
    },
    computed: {
        ...mapGetters([
            'getNews'
        ]),
        ...mapState([
            'canFetchNews'
        ])
    },
    methods: {
        ...mapActions([ 'loadMoreNews' ])
    }
}
</script>

<style scoped>
    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
</style>