<template>
  <li class="news-item">
        <div class="card">
            <div class="card-header">
                <img :src="news.urlToImage || 'https://via.placeholder.com/240?text=No+Image+Available'" alt="" />
            </div>
            <div class="card-body">
                <h4>{{news.title}}</h4>
                <p>{{news.source.name}}</p>
                <p>{{news.author}}</p>
                <p>{{news.content | clipText}}</p>
                <div>
                    <a :href="news.url" target="_blank">Go to page</a>
                    <button @click="addBookmark(news)">Save Bookmark</button>
                </div>
            </div>
            <div class="card-footer">
                <p>{{news.publishedAt}}</p>
            </div>
        </div>
  </li>
</template>

<script>
import { mapActions } from 'vuex'

export default {
    name: 'NewsItem',
    props: {
        news: Object
    },
    filters: {
        clipText(text) {
            if (!text) return ''
            return text.substring(0,150) + '...'
        }
    },
    methods: {
        ...mapActions([
            'addBookmark'
        ])
    }
}
</script>

<style scoped>
    .news-item {
        flex: 0 0 33.33%;
        margin-bottom: .5rem;
        padding: .5rem
    }

    .card {
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        background: #fff;
    }

    .card img {
        width: 100%;
        height: 240px;
    }

    .card-body {
        padding: 1.25rem
    }

    .card-footer {
        padding: 1.25rem;
        background: rgba(0,0,0,.03)
    }
</style>