<template>
    <header>
        <a href="/">News Search & Bookmark</a>
        <ul>
            <router-link to='/'>Top News</router-link>
            <router-link to='/bookmarks'>Bookmarks</router-link>
            <ToggleTheme />
        </ul>
    </header>
</template>

<script>
import ToggleTheme from '@/components/ToggleTheme'
export default {
    name: 'TheHeader',
    components: {
        ToggleTheme
    }
}
</script>

<style scoped>
    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
        transition: .25s background ease-in-out;
    }

    header a{
        padding: 20px;
        text-decoration: none
    }
</style>
