<template>
  <button @click="toggleTheme">{{ darkMode ? 'Toggle Light Mode' : 'Toggle Dark Mode'}}</button>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
    name: 'ToggleDarkMode',
    computed: {
        ...mapState([ 'darkMode' ])
    },
    methods: {
        ...mapActions([ 'toggleTheme' ])
    }
}
</script>

<style>

</style>