<template>
  <div id="app" :class="darkMode ? 'dark' : 'light'">
    <TheHeader />
    <router-view/>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import TheHeader from '@/components/TheHeader.vue'
import '@/styles/core/main.css'
import '@/styles/core/theme.css'

export default {
  name: 'app',
  components: {
    TheHeader
  },
  computed: {
    ...mapState([ 'darkMode' ])
  },
  methods: {
    ...mapActions([
      'loadSources'
    ])
  },
  created() {
    this.loadSources()
  }
}
</script>

